<link rel="stylesheet" href="style.css">

<h1>ArtStyle Identificator</h1>
<h2>Know the style of any paint</h2>

<p>Do you like?</p>
<!-- <form action="#">
  <p><input type="checkbox" id="test1" /><label for="test1"><span class="ui"></span><span class="text">Red</span></label></p>
  <p><input type="checkbox" id="test2" /><label for="test2"><span class="ui"></span><span class="text">Green</span></label></p>
  <p><input type="checkbox" id="test3" /><label for="test3"><span class="ui"></span><span class="text">Blue</span></label></p>
</form> -->
<p class="txtcenter">
  <a class="btn" href="https://www.creativejuiz.fr/blog/en/tutorials/customize-checkbox-and-radio-button-with-css">Upload an image</a>
</p>
<p class="txtcenter">Custom styles on modern browsers.<br/>Classical checkboxes on IE8 and lower.</p>
<p class="txtcenter copy">by <a href="https://twitter.com/geoffreycrofte">@geoffreycrofte</a><br />a fork from <a href="https://codepen.io/CreativeJuiz/pen/BiHzp">CSS custom Checkboxes</a></p>