<link rel="stylesheet" href="style.css">

<div class="x6">
 
  <div class="overlap-group">
    <div class="component-1-10"><div class="hooray gotham-medium-white-15px">Upload!</div></div>
    <h1 class="place gotham-bold-black-27px">STYLE_ID</h1>
    <p class="text-1 gotham-book-normal-eerie-black-13px">
      The app that use AI to identify the style of any art painting
    </p>
    <div class="group-206">
      <div class="group-9">
        <div class="overlap-group-1">
          <div class="rectangle-"></div>
          <div class="rectangle--1"></div>
        </div>
      </div>
      <img
        class="path-146"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
      />
      <img
        class="path-148"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
      />
      <img
        class="path-151"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-151-1@1x.png"
      />
      <div class="flex-row-1">
        <div class="flex-col-1">
          <img
            class="path-150"
            src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
          />
          <img
            class="path-147"
            src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
          />
          <div class="group-11">
            <div class="overlap-group-1">
              <div class="rectangle-"></div>
              <div class="rectangle--1"></div>
            </div>
          </div>
        </div>
        <div class="ellipse-39"></div>
        <div class="ellipse-37"></div>
        <div class="group-10">
          <div class="overlap-group-1">
            <div class="rectangle-"></div>
            <div class="rectangle--1"></div>
          </div>
        </div>
        <div class="group-12">
          <div class="overlap-group-1">
            <div class="rectangle-"></div>
            <div class="rectangle--1"></div>
          </div>
        </div>
        <div class="ellipse-36"></div>
        <img
          class="path-149"
          src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-149-1@1x.png"
        />
        <div class="flex-col-2">
          <div class="ellipse-40"></div>
          <div class="ellipse-38"></div>
        </div>
      </div>
    </div>
    <!-- IMAGEN -->
  <div class="overlap-group1">
    <div class="group-14">
      <div class="group-9">
        <div class="overlap-group-1">
          <div class="rectangle-"></div>
          <div class="rectangle--1"></div>
        </div>
      </div>
      <img
        class="path-146"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
      />
      <img
        class="path-148"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
      />
      <img
        class="path-151"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-151-1@1x.png"
      />
      <div class="flex-row-1">
        <div class="flex-col-1">
          <img
            class="path-150"
            src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
          />
          <img
            class="path-147"
            src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-146-1@1x.png"
          />
          <div class="group-11">
            <div class="overlap-group-1">
              <div class="rectangle-"></div>
              <div class="rectangle--1"></div>
            </div>
          </div>
        </div>
        <div class="ellipse-39"></div>
        <div class="ellipse-37"></div>
        <div class="group-10">
          <div class="overlap-group-1">
            <div class="rectangle-"></div>
            <div class="rectangle--1"></div>
          </div>
        </div>
        <div class="group-12">
          <div class="overlap-group-1">
            <div class="rectangle-"></div>
            <div class="rectangle--1"></div>
          </div>
        </div>
        <div class="ellipse-36"></div>
        <img
          class="path-149"
          src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-149-1@1x.png"
        />
        <div class="flex-col-2">
          <div class="ellipse-40"></div>
          <div class="ellipse-38"></div>
        </div>
      </div>
    </div>
    <div class="group-38">
      <div class="ellipse-120"></div>
      <img
        class="path-405"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-405@1x.png"
      />
      <div class="group-34">
        <div class="overlap-group-2">
          <div class="rectangle-1"></div>
          <div class="rectangle-11"></div>
        </div>
      </div>
      <div class="flex-col">
        <div class="group-37">
          <div class="overlap-group-2">
            <div class="rectangle-1"></div>
            <div class="rectangle-11"></div>
          </div>
        </div>
        <div class="flex-row">
          <div class="ellipse-122"></div>
          <div class="rectangle-102"></div>
          <div class="ellipse-109"></div>
          <div class="ellipse-121"></div>
        </div>
        <div class="group-35">
          <div class="overlap-group-2">
            <div class="rectangle-1"></div>
            <div class="rectangle-11"></div>
          </div>
        </div>
        <div class="ellipse-119"></div>
        <div class="ellipse-123"></div>
        <img
          class="path-406"
          src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-405@1x.png"
        />
        <div class="group-36">
          <div class="overlap-group-2">
            <div class="rectangle-1"></div>
            <div class="rectangle-11"></div>
          </div>
        </div>
        <img
          class="path-404"
          src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-404@1x.png"
        />
      </div>
      <img
        class="path-407"
        src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-405@1x.png"
      />
    </div>
    <img
      class="phone-call-button"
      src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/path-431@1x.png"
    />
    <img
      class="smiling-attendant"
      src="https://anima-uploads.s3.amazonaws.com/projects/606dd79c5c5364783d5733cb/releases/606dd7fa28d56af30625aa43/img/smiling-attendant@1x.png"
    />
  </div>
  </div>
  
</div>